Repository clebert/ts-config: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,json,md,yml}": [
      "yarn prettier --write",
      "git add"
    ],
    "*.ts": [
      "yarn tslint --config tslint.json --project . --fix",
      "yarn prettier --write",
      "git add"
    ]
  }
}

Add renovate.json
  renovate.json
Due: yarn prettier --write

build: add renovate config (#277)
  renovate.json
Due: yarn prettier --write

build: fix renovate config
  renovate.json
Due: yarn prettier --write

build: fix renovate config (#278)
  renovate.json
Due: yarn prettier --write

fix(deps): update dependency globby to v9
  package.json
  yarn.lock
Due: yarn prettier --write

fix(deps): update dependency semver to v6
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update dependency husky to v2
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update dependency typescript to ~3.5.0
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update commitlint monorepo to v8
  package.json
  yarn.lock
Due: yarn prettier --write

feat: update to tslint 5.18.0
  .node-version
  .travis.yml
  README.md
  package.json
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

build: fix linter errors
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: update to tslint 5.18.0 (#285)
  .node-version
  .travis.yml
  README.md
  package.json
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

build: fix renovate config (#286)
  renovate.json
Due: yarn prettier --write

build(deps): lock file maintenance
  yarn.lock
Due: none

build(deps): update dependency globby to v11
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update dependency semantic-release to v17
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update dependency semver to v7
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update dependency typescript to ~3.8.0
  package.json
  yarn.lock
Due: yarn prettier --write

build(deps): update dependency tslint to v6
  package.json
  yarn.lock
Due: yarn prettier --write
