Repository clebert/ts-config: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,json,md}": [
      "yarn prettier --write",
      "git add"
    ],
    "*.ts": [
      "yarn tslint --config tslint.json --project . --fix",
      "yarn prettier --write",
      "git add"
    ]
  }
}

feat: redesign of the entire TSLint configuration (#94)
  .editorconfig
  .gitignore
  .lintstagedrc
  .node-version
  .npmrc
  .prettierignore
  .prettierrc
  .travis.yml
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  Makefile
  README.md
  commitlint.config.js
  package.json
  scripts/prepublish.js
  src/Foo.ts
  src/bar.ts
  src/create-readme.ts
  src/index.ts
  src/rules/all-rules.ts
  src/rules/custom-rules.ts
  src/rules/index.ts
  src/rules/prettier-rules.ts
  src/utils/find-rule-metadata.ts
  src/utils/index.ts
  src/utils/render-rule.ts
  tsconfig.json
  tslint.json
  typings/json-diff.d.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

fix: add missing tsconfig.json to NPM package
  package.json
Due: yarn prettier --write

fix: add missing tsconfig.json to NPM package, closes #98 (#100)
  package.json
Due: yarn prettier --write

feat: a convenient CLI for creating configuration files, closes #93
  .vscode/settings.json
  Makefile
  README.md
  bin/run
  bin/run.cmd
  package.json
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
  src/create-readme.ts
  src/rules/all-rules.ts
  src/utils/get-help.ts
  src/utils/index.ts
  src/utils/write-json-file.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: a convenient CLI for creating configuration files, closes #93 (#101)
  .vscode/settings.json
  Makefile
  README.md
  bin/run
  bin/run.cmd
  package.json
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
  src/create-readme.ts
  src/rules/all-rules.ts
  src/utils/get-help.ts
  src/utils/index.ts
  src/utils/write-json-file.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: minor improvements to the CLI
  .gitignore
  .prettierignore
  .vscode/settings.json
  Makefile
  package.json
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
  tsconfig.json
  tslint.json
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: minor improvements to the CLI (#103)
  .gitignore
  .prettierignore
  .vscode/settings.json
  Makefile
  package.json
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
  tsconfig.json
  tslint.json
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

fix: add required dependencies for the CLI
  README.md
  package.json
  src/create-readme.ts
  src/utils/write-json-file.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

fix: add required dependencies for the CLI (#104)
  README.md
  package.json
  src/create-readme.ts
  src/utils/write-json-file.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

docs: improve the README
  README.md
  src/create-readme.ts
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

docs: improve the README (#108)
  README.md
  src/create-readme.ts
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: add --react flag to the init-typescript CLI, closes #102
  README.md
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
  tsconfig.json
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: add --react flag to the init-typescript CLI, closes #102 (#109)
  README.md
  src/commands/init-tslint.ts
  src/commands/init-typescript.ts
  tsconfig.json
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

build: format yml files using prettier
  .lintstagedrc
  Makefile
Due: none

build: format yml files using prettier, closes #95 (#113)
  .lintstagedrc
  Makefile
Due: none

build: migrate from make to autosrc
  .commitlintrc.js
  .editorconfig
  .lintstagedrc
  .travis.yml
  .vscode/settings.json
  Makefile
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

build: migrate from make to autosrc (#128)
  .commitlintrc.js
  .editorconfig
  .lintstagedrc
  .travis.yml
  .vscode/settings.json
  Makefile
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

feat: deactivate the strict-type-predicates tslint rules
  .travis.yml
  README.md
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: deactivate the strict-type-predicates tslint rules (#129)
  .travis.yml
  README.md
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

build: bump autosrc from 0.1.0 to 0.4.0
  package.json
  yarn.lock
Due: yarn prettier --write

build: bump autosrc from 0.1.0 to 0.4.0 (#136)
  package.json
  yarn.lock
Due: yarn prettier --write

build: bump autosrc from 0.4.0 to 0.9.0
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

build: bump autosrc from 0.4.0 to 0.9.0 (#146)
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

build: bump autosrc from 0.9.0 to 0.10.0
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

build: bump autosrc from 0.9.0 to 0.10.0 (#155)
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

build: bump autosrc from 0.10.0 to 0.11.0
  .gitignore
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

build: bump autosrc from 0.10.0 to 0.11.0 (#156)
  .gitignore
  autosrc.js
  package.json
  yarn.lock
Due: yarn prettier --write

docs: improve README
  README.md
  src/create-readme.ts
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

docs: improve README (#160)
  README.md
  src/create-readme.ts
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: set "esModuleInterop" in tsconfig template
  src/commands/init-typescript.ts
  tsconfig.json
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: set "esModuleInterop" in tsconfig template (#163)
  src/commands/init-typescript.ts
  tsconfig.json
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: disable match-default-export-name rule
  README.md
  src/rules/custom-rules.ts
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: disable match-default-export-name rule (#174)
  README.md
  src/rules/custom-rules.ts
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: disable prefer-function-over-method tslint rule
  .prettierrc
  README.md
  autosrc.js
  commitlint.config.js
  husky.config.js
  package.json
  prettier.config.js
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: disable prefer-function-over-method tslint rule (#184)
  .prettierrc
  README.md
  autosrc.js
  commitlint.config.js
  husky.config.js
  package.json
  prettier.config.js
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: set inlineSources to true in tsconfig
  tsconfig.json
Due: yarn prettier --write

feat: set inlineSources to true in tsconfig (#252)
  tsconfig.json
Due: yarn prettier --write

feat: update to tslint 0.12 and disable some unreliable rules
  README.md
  package.json
  src/create-readme.ts
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

feat: update to tslint 0.12 and disable some unreliable rules (#274)
  README.md
  package.json
  src/create-readme.ts
  src/rules/custom-rules.ts
  yarn.lock
Due: yarn prettier --write, yarn tslint --config tslint.json --project . --fix

build: add renovate config
  renovate.json
Due: yarn prettier --write
